MYSQL_ROOT_PASSWORD=<random root password>
MYSQL_USER_PASSWORD=<random user password>
DEVSPACES_CLIENT_ID=T3YyM2xpRWRveFlEWnJJRjU3cVEK
DEVSPACES_CLIENT_SECRET=YjlhYTcxZjc3OTJiMWU5YzNiMmRlZDA5NmUyZjE0ZWJiZGZiZGZhOQo=
DOCKER_USERNAME=<private container registry username>
DOCKER_USERNAME_SUFFIX=<private container registry username suffix if applicable>
DOCKER_PASSWORD=<private container registry password>
DOCKER_HOST=<private container registry host>
HF_TOKEN=<huggingface token>
LLM_TOKEN=<reference llm token>
LLM_API_BASE=<reference llm api base>
LLM_ID=<reference llm model name>
